/* Strat Variables */

:root{
    --mainColor:#19c8fa;
    --textColor:#777;
    --sectionPadding:100px;
    --transperantColor:rgb(15 116 143 / 70%);
}

/* Start Globel roles */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family:"Open Sans", sans-serif ;
}

ul{
    list-style: none;
}


.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:768px) {
    .container{
        width:750px
    }
    
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
    
}
@media (min-width:1200px) {
    .container{
        width:1170px
    }
    
}
/* end Globel roles */


/*  Start components*/
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 60px;
    color: #353235;
}
.main-heading h2::before{
    content: "";
    width: 100px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    position: absolute;
    background-color: #1f2021bb;
}
.main-heading h2::after{
    content: "";
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;

}
.main-heading p{
    font-size: 12px;
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--textColor);
}

/*  End components*/

/* Start Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}


header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 70px;

}


header .container::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #726f71;
    bottom: 0;
    left: 15px;

}



header .container .logo img{
    height: 50px;
}

header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container nav .toggle-menu{
    font-size: 20px;
    color: white;
}

@media (min-width:767px) {
    header .container nav .toggle-menu{
        display: none;
        
    }

}


header .container nav ul{
    display: flex;
}

@media (max-width:767px) {
    header .container nav ul{
        display: none;
    }
    header .container nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 100%;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    header .container nav .toggle-menu:hover + ul li a{
        padding: 10px;
    }
}



header .container nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}


header .container nav ul li a:hover,
header .container nav ul li .active{
    color: var(--mainColor);
    border-bottom: var(--mainColor) 2px solid;
    z-index: 2;
}

header .container .form{
    display: flex;
    position: relative;
    margin-left: 50px;
    width:40px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-left: solid 1px white;

}

header .container .form i{
    color: white;

   
}

/* end Header */

/* start landing section */
.landing{
    min-height: 100vh;

    background-color:rgb(0 0 0 / 60%);;
    background-image:url(../images/owl-background.jpg) ;
    background-size: cover;
    position: relative;
}

.landing .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 60%);
}

.text{
    background-color: #19c9fa7e;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content{
    max-width: 500px;
    
}

@media (max-width:767px) {
    .landing .text{
        width: 100%;
        align-content: center;
    }
    
}

.landing .text .content h2{
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p{
    font-size: 14px;
    line-height: 2;
}


.landing .arrow{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

@media (max-width:767px) {
    .landing .arrow{
        display: none;
    }
    
}

.landing .fa-angle-right{
    right: 15px;
}
.landing .fa-angle-left{
    left: 15px;
}

.landing .bullets{
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
}

.landing .bullets li{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px ;
}

.landing .bullets .active{
    background-color: var(--mainColor);
}



/* end landing section */


/* Start Services section */
.services{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

@media (min-width:768px) {
    .services .service-contianer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
        gap: 60px 40px;
    }
}

.services .srv-box{
    display: flex;

}

.services .srv-box i{
    margin-right: 50px;
}


@media (max-width: 768px) {
    .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i{
        margin: 0 0 30px;
    }
    
}

.services .srv-box .srv-text h3{
    margin-bottom: 20px;
    color: var(--mainColor);

}
.services .srv-box .srv-text p{
    line-height: 2;
    color: var(--textColor);
}

/* End Services section */

/* start desing section */
.desing{
    padding-bottom: var(--sectionPadding);
    padding-top: var(--sectionPadding);
    height: 600px;
    position: relative;
    background-image: url(../images/premium_photo-1664298147945-7682ce2aa53f.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.desing::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 60%);
}

.desing .desing-image,
.desing .desing-text{
    position: relative;
    z-index: 2;
    flex: 1;
}

.desing .desing-image{ 
    text-align: center;
}

.desing .desing-image img{
    position: relative;
    bottom: -150px;
    width: 650px;
    height: 400px;
}


.desing .desing-text{
    background-color: #19c9fa8a;
    padding: 50px;
    color: white;
    
}

@media (max-width:992px) {
    .desing .desing-image img{
        display: none;
    } 
    .desing .desing-text{
        position: absolute;
        width: 100%;
    }
}
.desing .desing-text h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.desing .desing-text li{
    padding: 15px 0;
}

.desing .desing-text li::before{
    font-family: "Font Awesome 5 Free";
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
}
/* end desing section */

/* start portfolio */
.portfolio{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}


.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle .active{
    background-color: var(--mainColor);
    color: white;
}

.portfolio .imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs .box{
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .imgs .box{
        flex-basis: 50%;
    }
    
}
@media (min-width: 1199px) {
    .portfolio .imgs .box{
        flex-basis:25%;
    }
    
}

.portfolio .imgs .box:hover .caption{

    position: absolute;
    bottom: 0;
    
    
}

.portfolio .imgs .box img{
    max-width: 100%;
    transition: .3s;
}

.portfolio .imgs .box img:hover{
    transform: rotate(3deg) scale(1.1);
}

.portfolio .imgs .caption{
    position: absolute;
    bottom: -150px;
    background-color: #eee;
    width: 100%;
    padding: 25px;
    transition: .3s;

}
.portfolio .imgs .caption h4{
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio .imgs .caption p{
    color: var(--mainColor);
}

.portfolio .more{
    background-color: var(--mainColor);
    color: white;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin: 30px auto; 
    text-transform: uppercase;
    padding: 15px 20px;
}
/* end portfolio */

/* Start Video section */
.video-sec{  
    position: relative;  
}
.video-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
    z-index: 1;
}
.video-sec video{
    width: 100%;
}
.video-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:  var(--transperantColor);
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
    z-index: 2;
}
.video-text h2{
    font-weight: normal;
    margin-bottom: 10px;
}
.video-text p{
    padding: 30px;
}

.video-text a{
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}


/* End Video section */


/* Start about section */
.about{
    padding-top: var(--sectionPadding);
    text-align: center;
    overflow: hidden;

}

.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width:768px) {
    .about img{
    bottom: -80px;
    }
}



/* end about section */


/* Start Stat Sec */
.stat
{
    background-image: url(../images/stats.png);
    padding-top: var(--sectionPadding);
    padding-bottom:var(--sectionPadding) ;
    position: relative;
    z-index: -1;

    
}

.stat .container{
    display: flex;
    text-align: center;
    row-gap: 50px;
    
}

.stat::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: 0;
}

.stat .stat-content{
    color: white;
    z-index: 3;
    flex-basis: 25%;
    background-color: var(--transperantColor);
    

}



@media (max-width:768px) {
    .stat .container{
        flex-wrap: wrap;
    }
    .stat .stat-content{
        color: white;
        z-index: 3;
        flex-basis: 100%;
    
    }
}

.stat .stat-content i{
    margin: 30px 0;
    padding: 10px;
    position: relative;
    z-index: 3;
    background-color: black;
    border-radius: 50%;

    
}


.stat .stat-content h2{
    padding-top: 20px;
}

.stat .stat-content p{
    padding-top: 10px;
    padding-bottom: 50px;
}





.stat .stat-content h2{
    font-size: 50px;
}
/* End Stat Sec */


/* Start Skills */
.our-skills {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.our-skills .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    text-align: center;
}

.our-skills .container .skill-cont img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}


.testmonials h3{
    font-weight: normal;
    padding: 20px;

}

.testmonials p{
    line-height: 2;
    color: #777;
}

.testmonials .skill-cont{
    display: flex;
    padding-top: 70px;
    justify-content: flex-start;
}

.testmonials .skill-cont .skill-text{
    text-align: left;
    max-width: 340px;
    border-bottom:1px solid #77777768 ;
}

.testmonials .skill-cont .skill-text p{
    text-align: right;
    font-weight: 100;
}


.skills h3{
    font-weight: normal;
    padding: 20px;
}

.skills p{
    line-height: 2;
    color: #777;
    padding-bottom: 70px;
}


.skills .prog-holder{
    font-weight: normal;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 40px;
}

.skills .prog-holder h4{
    font-weight: normal;
    margin-bottom: 15px;
}

.skills .prog-holder .prog{
    background-color:#dedadc;
    height: 30px;

}


.skills .prog-holder .prog span{
    background-color: var(--mainColor);
    height: 100%;
    z-index: 1;
    display: block;
    position: relative;
}

.skills .prog-holder .prog span::after{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    left: 95%;
    top: -40px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;

}

.skills .prog-holder .prog span::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: black transparent transparent;
    left: 97.5%;
    top: -15px;

}


/* End Skills */


/* Strat quote */
.quote{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
}

.quote::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: -1;
}


.quote .container{
    color: white;
    text-align: center;
    z-index: 3;
}

.quote .container q{
    font-size: 30px;
    display: block;

    margin-bottom: 20px;
}

.quote .container span{
    font-weight: 400;
}
/* End quote */


/* Start Princing */
.pricing{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    text-align: center;
}


.plans{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}

.plans .container{
    text-align: center;
}



.plans .plan .head{
    padding: 40px 20px;
    border-top: solid 1px var(--mainColor);
    border-bottom: solid 1px var(--mainColor);
}

.plans .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.plans .plan .head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
}


.plans .plan .head span::before{
    content: "$";
    font-size: 20px;
    top: 0;
    position: absolute;
    left:-20px;
    font-weight: normal;
}

.plans .plan .head span::after{
    content: "/MO";
    font-size: 20px;
    margin-left: 10px;
}


.plans .plan ul{
    border-bottom: solid 1px var(--mainColor);
}

.plans .plan ul li{
    padding: 20px;
    position: relative;
}

.plans .plan ul li:not(:last-of-type)::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mainColor);
    bottom: 0;
}


.plans .plan .foot a{
    padding: 20px 20px;
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid var(--mainColor);
    text-decoration: none;

}


.contact-text{
    font-size: 20px;
    margin: 50px auto 20px;
}

.contact-link{
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--mainColor);
    width: fit-content;
    padding: 20px;
    margin: 20px auto;

}
/* End Princing */

/* Start subscribe */
.subscribe{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
}

.subscribe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: -1;

}

.subscribe .container{
    display: flex;
    text-align: center;
    color: white;
    gap: 30px;
    
}

@media (max-width:992px) {
    .subscribe .container{
        flex-wrap: wrap;
    }

    
}
.subscribe .container form{

    flex-basis: 50%;
    max-width: 100%;
    align-content: center;
}

@media (max-width:992px) {
    .subscribe .container form{
        flex-basis: 100%;
    }
}


.subscribe .container form input[type="email"]{
    color: white;
    padding: 20px 20px 20px 50px;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 160px);
    background: none;
    caret-color: var(--mainColor);

}
.subscribe .container form input[type="email"]:focus{
    outline: none;

}

.subscribe .container form i{
    position: relative;
    left: 40px;

}
.subscribe .container form input[type="submit"]{
    padding: 20px;
    position: relative;
    right: 5px;
    background:var(--mainColor) ;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
}


.subscribe .container p{
    line-height: 2;
    text-align: left;

}
/* End subscribe */


.conatct-us{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}


.conatct-us .content{
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;
}


@media (max-width:768px) {
    .conatct-us .content{
        display: grid;
        grid-template-columns: 100%;
    }
    
}

.conatct-us .content{
    display: grid;
}

.conatct-us .content form{
    display: flex;
    flex-direction: column;

}

.conatct-us .content form .main-input{
    padding: 20px;
    margin-bottom: 30px;
    border: solid 1px #ccc;
}


.conatct-us .content form .main-input:focus{
    outline: none;
}


.conatct-us .content form textarea{
    height: 200px;
}

.conatct-us .content form input[type="submit"]{
    padding: 15px;
    color: white;
    background-color: var(--mainColor);
    border: none;
    text-transform: uppercase;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}


.conatct-us .content .info h4:first-of-type{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .conatct-us .content .info{
        text-align: center;
    }
    
}
.conatct-us .content .info h4:last-of-type{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 90px;
}
.conatct-us .content .info span{
    display: block;
    color: #777;
    margin-bottom: 10px;
}


.conatct-us .content .info address{
    color: #777;
    line-height: 2;
}


.footer{
    padding-top: calc(var(--sectionPadding)/2);
    padding-bottom: calc(var(--sectionPadding)/2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;
    color: white;
}

.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: -1;
}

.footer .container img {
    width: 150px;

    
}


.footer .container p:first-of-type{
    margin: 20px auto;
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}




.footer .container .social-links i{
    padding: 10px 15px;
}



.footer .container .copyright{
    margin-top: 90px;
}


.footer .container .copyright span{
    color: var(--mainColor);
    font-weight: bold;
}
